*{
margin: 0;
padding: 0;
font-family: Century Gothic;
}

header{
background-image:url(Albania1.jpg);
height: 150vh;
max-width: 100%;
background-size: cover;
background-position: center;
}

ul{
float: right;
list-style-type: none;
margin-top: 25px;
margin-right: 10px;
}

ul li{
display: inline-block;
}

ul li a{
text-decoration: none;
color: #fff;
padding: 5px 20px;
border: 1px solid #fff;
}

ul li a:hover{
background-color: #fff;
color: #000;
}
ul li.active a{
background-color: #fff;
color: #000;
}


.title{
position: absolute;
top: 80%;
left: 10%;
}

.title h1{
color: #fff;
font-size: 70px;
}


.can{
max-width: 1200px;
margin: auto;
overflow: hidden;
padding: 20px;
}




.gallery{
margin: 5px 40px;
}

.gallery img{
margin-top: 50px;
margin-left: 30px;
width: 150px;
padding: 10px;
width: calc(100% / 5);
filter: grayscale(100%);
transition: 0.6s;
}

.gallery img:hover{
filter: grayscale(0);
transform: scale(1.1);
}

.about{
background: white;
margin-top: 70px;
text-align: center;
font-size: 50px;
margin-right:40px;
margin-left:40px;
}

.sava{
text-align:center;
background: white;
padding: 5px;
margin-top:10px;
margin-left:40px;
margin-right:40px;
font-size: 20px;
}














.fa {
  padding: 30px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 50px 50px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
} 

.fa-instagram {
  background: #ea4c89;
  color: white;
}
.title1{
position: absolute;
top: 30%;
left: 20%;
}

.title1 h1{
color: #fff;
font-size: 70px;
}

